



<header class="sticky top-0 z-10 bg-white shadow-md px-8 py-2 flex items-center justify-between">
  

  <div class="lg:hidden">
    <button (click)="toggleMenu()" class="text-3xl focus:outline-none">
      &#9776;
    </button>
  </div>

  <nav class="hidden lg:flex font-semibold text-lg space-x-6 items-center justify-center w-full mt-4">
    <a href="#" 
class="hover:text-green-600">Home</a>
    <a href="#About"
 class="hover:text-green-600">About</a>
    <a href="#Projects" 
 class="hover:text-green-600">Projects</a>
    <a href="#footer"
 class="hover:text-green-600">Contact</a>
  </nav>

  <div
 
  *ngIf="isMenuOpen"
  class="flex flex-col font-semibold text-lg space-y-4 absolute top-16 left-0 w-full bg-white shadow-md px-8 py-4 lg:hidden justify-center"
>
<a href="#" 
class="hover:text-green-600">Home</a>
    <a href="#About"
 class="hover:text-green-600">About</a>
    <a href="#Projects" 
 class="hover:text-green-600">Projects</a>
    <a href="#footer"
 class="hover:text-green-600">Contact</a>
 

  </div>
</header>
