
<section  id="Projects" class="text-gray-600 body-font "style="background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);">
  <div class="container px-5 py-24 mx-auto">

      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
          <br class="hidden lg:inline-block"> <span class="text-white font-playwrite text-6xl">P</span>ROJECTS
        </h1>

    <div class="flex flex-wrap -m-4">
     
      <div class="card lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <a href="https://github.com/Mbali-Nyalungu/weather-app" target="_blank" >
          <img 
          alt="ecommerce" 
          class="object-cover object-center w-full h-full block filter grayscale hover:grayscale-0 transition duration-300" 
          src ="weather.png" alt="ecommerce" >
        </a>
      </a>
        <div class="mt-4">
          <h3 class="text-[#E1B74B] text-md tracking-widest title-font mb-1">WEATHER APP</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            <a href="https://github.com/Mbali-Nyalungu/weather-app" target="_blank" class="text-white hover:text-[#E1B74B]">GitHub</a>
          </h2>
          <p class="mt-1">
              <a href="https://chmj6s-1234.csb.app/" target="_blank" class="text-white hover:text-[#E1B74B]">Live Demo</a>
            </p>
            
          </div>
      </div>
      <div class="card lg:w-1/4 md:w-1/2 p-4 w-full">
        
        <a class="block relative h-48 rounded overflow-hidden">
          <a href="https://github.com/The-DigitalAcademy/Group-B_Gym.git" target="_blank" >
          <img 
          alt="ecommerce" 
          class="object-cover object-center w-full h-full block filter grayscale hover:grayscale-0 transition duration-300 " 
          src="gym.jpg ">
        </a>
        </a>
        <div class="mt-4">
          <h3 class="text-[#E1B74B] text-md tracking-widest title-font mb-3">GYM</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
              <a href="https://github.com/The-DigitalAcademy/Group-B_Gym.git" target="_blank" class="text-white hover:text-[#E1B74B]">GitHub</a>
            </h2>
          <p class="mt-1"></p>
          <a href="https://chmj6s-1234.csb.app/" target="_blank" class="text-white hover:text-[#E1B74B]">Live Demo</a>
        </div>
      </div>
      <div class="card lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <a href="https://github.com/The-DigitalAcademy/cart_easy" target="_blank" >
          <img 
          alt="ecommerce" 
          class="object-cover object-center w-full h-full block filter grayscale hover:grayscale-0 transition duration-300" 
          src="product.png">
        
        </a>
        </a>
        <div class="mt-4">
          <h3 class="text-[#E1B74B] text-md tracking-widest title-font mb-1">CART_EASY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
              <a href="https://github.com/The-DigitalAcademy/cart_easy" target="_blank" class="text-white hover:text-[#E1B74B]">GitHub</a>
            </h2>
          <p class="mt-1"></p>
          <a href="https://chmj6s-1234.csb.app/" target="_blank" class="text-white hover:text-[#E1B74B]">Live Demo</a>
        </div>
      </div>
      <div class="card lg:w-1/4 md:w-1/2 p-4 w-full ">
        <a class="block relative h-48 rounded overflow-hidden">
          <a href="https://github.com/Mbali-Nyalungu/BMI_Calculator.git" target="_blank" >
          <img 
          alt="ecommerce" 
          class="object-cover object-center w-full h-full block filter grayscale hover:grayscale-0 transition duration-300 " 
          src="bmi.jpeg ">
        
        </a>
        </a>
        <div class="mt-4">
      <h3 class="text-[#E1B74B] text-md tracking-widest title-font mb-1">BMI CALCULATOR</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
              <a href="https://github.com/Mbali-Nyalungu/BMI_Calculator.git" target="_blank" class="text-white hover:text-[#E1B74B]">GitHub</a>
            </h2>
            <p class="mt-1"></p>
          <a href="https://chmj6s-1234.csb.app/" target="_blank" class="text-white hover:text-[#E1B74B]">Live Demo</a>
        </div>
      </div>
      </div>
  </div>
</section>
